server {
    listen 80;
    listen [::]:80;

    server_name {{ domain }} www.{{ domain }};

    location / {
        proxy_pass {{ app_server_address}}:{{ app_server_port }};
        include proxy_params
    }
}